aside.gdbar {
    width: 100%;
    height: 100px;
    border-radius: 0px;
    background: #000a23;
    left: 0px;
    top: 40px;
}

aside.gdbar img {
    width: 300px;
    height: 100px;
    margin: 0px;
}

aside.footer {
    right: 0px;
    bottom: 0px;
    position: absolute;
}

aside.footer img {
    width: 246px;
    height: 100px;
    margin: 0px;
}

.title-slide hgroup {
    bottom: 150px;
}

img.fill {
    position: absolute;
    left: 0px;
    top: 40px;
    width: 100%;
}

.figure.align-center {
    text-align: center;
}

.docutils.literal {
    font-family: monospace;
}

* {
    line-height: 1.4em;
}
